div#admineditform {
    margin-top: -5%;
    background: #f4f6f9;    
}
form#form1 {
    
    border: 0;
    
}

div#hidetable {
    /* margin-left: -193px; */
    padding-right: -1%;
    margin-left: -97%;
}

button#basdas {
    margin-left: -96%;
}