button#formButton {
    margin-top: 20%;
    margin-left: 3%;

}

form#form1{
    padding: 15px;
    border: 1px solid #666;
    background: #fff;
    display: none;
    margin-top: 5%;
}


#userroleForm {
    display: none;
    /* width: 300px; */
    border: 0;
    padding: 14px;
    background:f4f6f9;
    width: 100%;

}
.content-wrapper {
    background-color: white;
}

#MyForm{
    display: none;
    width: 45%;
    border: 1px solid #fff;
    padding: 20px;
    padding-top: 10px;
    background: #fff;
    margin-left: 590px;
    margin-top: 0%;
}

div.sticky {
    position: -webkit-sticky;
    position: absolute;
    top: 76%;
    padding: 13px;
    font-size: 21px;
  }