button#formButton {
    margin-top: 20%;
    margin-left: 3%;

}

form#form1{
    padding: 15px;
    border: 1px solid #666;
    background: #fff;
    display: none;
    margin-top: 5%;
}


#userroleForm {
    display: none;
    /* width: 300px; */
    border: 0;
    padding: 14px;
    background:f4f6f9;
    width: 100%;

}
.content-wrapper {
    background-color: white;
}

#MyForm{
    display: none;
    width: 45%;
    border: 1px solid #fff;
    padding: 20px;
    /* padding-top: 50px; */
    background: #fff;
    margin-left: 590px;
    top: 80;
    right: 0;
    /* margin-top: -150px; */
}

div.sticky {
    position: -webkit-sticky;
    position: absolute;
    top: 180;
    background-color: white;
    padding: 10px;
    font-size: 20px;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
